<%- include('../parts/head',{title:'CASH CONTROL - Lista de Metas'}); %>
<main>
	<section class="container">
		<div id="list">
			<div class="item head">
				<div class="name"><p>Categoria:</p></div>
				<div class="type"><p>Valor Previsto:</p></div>
				<div class="type"><p>Valor Gasto:</p></div>
				<div class="type"><p>(%) Gasto:</p></div>
				<div class="buttons"><p>Ações</p></div>
			</div>
			<%
				var totalprevisto = 0;
				var totalgasto = 0;
			%>
			<% for(let categoria of categorias ) {%>
			
			<div class="item">
				<%
					totalprevisto = totalprevisto + Number(categoria.valorprevisto);
					totalgasto = totalgasto + Number(categoria.valorgasto);
				%>
				<div><%= categoria.nome %></div>
				<div><%= categoria.valorprevisto.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></div>
				<div><%= categoria.valorgasto.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></div>
				<div><%= categoria.percentualgasto %></div>
				<div>
					<%if(!categoria.meta_id) {%>
						<form method="GET" action="/metas/<%= categoria.id %>/create">
							<button type="submit">Criar</button>
						</form>
					<%}
					else {
					%>
						<form method="POST" action="/metas/<%= categoria.meta_id %>/delete?_method=DELETE">
							<button type="submit">Remover</button>
						</form>
						<a href="/metas/<%= categoria.meta_id %>/edit">Editar</button>
					<%}%>
				</div>
			</div>
			<% } %>
				<div class="item">
					<div>Totais:</div>
					<div><%= totalprevisto %></div>
					<div><%= totalgasto %></div>
					<div><%= totalprevisto>0 ? Math.round((totalgasto/totalprevisto)*100,2): 0 %></div>
					<div>
					</div>
				</div>
			</table>
		</div>
		<form method="POST" action="/metas/seek">
				<%if (typeof(erros) != "undefined") { %>
					<p style="color: red"> ERRO </p>
					<ul>
					<% erros.forEach((erro) => { %>
						<li><%= erro.msg %></li>
					<% }) %>
					</ul>
				<% } %>

				<div>
					<label>
						Ano:
						<input type="number" name="ano" id="ano" value="<%= Periodo.Ano %>" placeholder="ano da meta">
					</label>
					
					<label>
						Mês:
						<input type="number" name="mes" id="mes" value="<%= Periodo.Mes %>" placeholder="mês da meta">
					</label>
				
				</div>
				<button type="submit">Buscar</button>
			</form>
	</section>
</main>
<%- include('../parts/foot'); %>