<%- include('../parts/head',{title:'CASH CONTROL - Lista de Categorias'}); %>
<main>
	<div class="container-button">	
		<a class="btn blue popup" href="/categorias/create">Adicionar nova Categoria</a>
	</div>
	<section class="container">
		<div id="list">
			<div class="item head">
				<div class="name"><p>Nome:</p></div>
				<div class="type"><p>Tipo:</p></div>
				<div class="buttons"><p>Ações</p></div>
			</div>
			<% for(let categoria of categorias ) { %>
				<div class="item">
					<div class="name"><p><%= categoria.nome %></p></div>
					<div class="type"><p><%= categoria.tipo %></p></div>
					<div class="buttons">
						<a class="popup" href="/categorias/<%= categoria.id %>/edit">
							<span class="material-icons-outlined">edit</span>
						</a>
						<a class="notification" href="#categoriaDelete" data-id="<%= categoria.id %>">
							<span class="material-icons-outlined">delete</span>
							<form method="POST" action="/categorias/<%= categoria.id %>/delete?_method=DELETE">
								<button type="submit"><img src="/img/icons/interface.svg" alt="Icone de remover"></button>
							</form>
						</a>
					</div>
				</div>
			<% } %>
		</div>
	</section>
</main>
<%- include('../parts/foot'); %>