<%- include('../parts/head',{title:'CASH CONTROL - Lista de Receitas'}); %>

<body>
  <div class="app">
    <%- include('../parts/header'); %>
    <main>
      <div class="container-mes">
        <div class="prev">
          <span class="material-icons">navigate_before</span>
        </div>
        <div class="mes">
          <% let meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
          'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro',
          'Dezembro'] %> <%= meses[parseInt(Periodo.Mes)-1] %> - <%= Periodo.Ano
          %>
        </div>
        <div class="next">
          <span class="material-icons">keyboard_arrow_right</span>
        </div>
      </div>

      <form class="hidden" id="formMesFilter" method="GET" action="/receitas">
        <div>
          <label>
            Ano:
            <input
              type="number"
              name="ano"
              id="ano"
              value="<%= Periodo.Ano %>"
            />
          </label>
          <br />
          <label>
            Mês:
            <input
              type="number"
              name="mes"
              id="mes"
              value="<%= Periodo.Mes %>"
            />
          </label>
        </div>
        <button type="submit">Buscar</button>
      </form>

      <div class="container-button">
        <a class="btn blue popup" href="#receitaCreate"
          >Adicionar nova Receita</a
        >
      </div>
      <section class="container">
        <div id="list">
          <div class="item head">
            <div class="name"><p>Carteira</p></div>
            <div class="name"><p>Tipo</p></div>
            <div class="name"><p>Valor</p></div>
            <div class="name"><p>Data</p></div>
            <div class="name"><p>Obs</p></div>
            <div class="buttons">Ações</div>
          </div>
          <% for(let receita of receitas ) { %>
          <div class="item">
            <div class="name"><p><%= receita.carteira %></p></div>
            <div class="name"><p><%= receita.tiporeceita %></p></div>
            <div class="name">
              <p><%= `R$ ${(receita.valor).replace('.', ',')}` %></p>
            </div>
            <div class="name"><p><%= receita.data_receita %></p></div>
            <div class="name"><p><%= receita.obs %></p></div>
            <div class="buttons">
              <a
                class="popup"
                href="#receitaEdit"
                data-id="<%= receita.id %>"
                data-obs="<%= receita.obs %>"
                data-date="<%= receita.data_receita2 %>"
                data-valor="<%= receita.valor %>"
                data-carteiraid="<%= receita.carteira_id %>"
                data-tiporeceitaid="<%= receita.tiporeceita_id %>"
              >
                <span class="material-icons-outlined">edit</span>
              </a>
              <a
                class="notification"
                href="#receitaDelete"
                data-id="<%= receita.id %>"
                data-url="/receitas/<%= receita.id %>/delete?_method=DELETE"
              >
                <span class="material-icons-outlined">delete</span>
              </a>
            </div>
          </div>
          <% } %>
        </div>
      </section>
    </main>
  </div>
  <script src="/js/metas.js"></script>
  <%- include('../parts/foot'); %>
</body>
