<%- include('../parts/head',{title:'CASH - Lançamento de Despesas'}); %>
<link rel="stylesheet" href="/css/form-pizza.css">
<form id="form-pizza" method="POST" action="/despesas/store">
  <h1> Nova Despesa </h1>
  <% if (typeof(erros) != "undefined") { %>
    <p style="color: red"> ERRO </p>
    <ul>
      <% erros.forEach((erro) => { %>
          <li><%= erro.msg %></li>
      <% }) %>
    </ul>
<% } %>
  <label>
    Data:
    <input type="date" name="data" id="data" placeholder="">
  </label>

  <label>
    Valor:
    <input type="number" step="0.01" name="valor" id="valor" placeholder="Valor da Despesa">
  </label>

  <label>
    Categoria:
    <select name="categoria" id="categoria">
        <option selected disabled>Selecione</option>
        <% categorias.forEach((categoria) => { %>
            <option value=<%= categoria.id %>> <%= categoria.nome %></option>
        <% }) %> 
    </select>
  </label>

  <label>
    Carteira:
    <select name="carteira" id="carteira">
        <option selected disabled>Selecione</option>
        <% carteiras.forEach((carteira) => { %>
            <option value=<%= carteira.id %>> <%= carteira.nome %></option>
        <% }) %> 
    </select>
  </label>

  <label>
    Obs:
    <input type="text" name="obs" id="obs" placeholder="">
  </label>
  
<button type="submit">Salvar</button>
</form>
<%- include('../parts/foot'); %>