<%- include('../parts/head',{title:'CASH CONTROL - Lista de Carteiras'}); %>
<main>
	<div class="container-button">
		<a class="btn blue popup" href="#carteiraCreate">Adicionar nova Carteira</a>
	</div>
	<section class="container">
		<div id="list-carteiras">
			<div class="item head">
				<div class="datas">
					<div class="name"><p>Nome Exemplo</p></div>
					<div class="type"><p>Tipo Exemplo</p></div>
				</div>
				<div class="buttons">
					<a href="#carteiraEdit">
						<%- include('../../public/img/icons/edit.svg'); %>
					</a>
					<a href="#carteiraDelete">
						<%- include('../../public/img/icons/delete.svg'); %>
					</a>
				</div>
			</div>
			<% for(let carteira of carteiras ) { %>
				<div class="item">
					<div class="datas">
						<div class="name"><p><%= carteira.nome %></p></div>
						<div class="type"><p><%= carteira.tipo %></p></div>
					</div>
					<div class="buttons">
						<a class="popup" href="#carteiraEdit" data-id="<%= carteira.id %>" data-name="<%= carteira.nome %>" data-type="<%= carteira.tipo %>">
							<%- include('../../public/img/icons/edit.svg'); %>
						</a>
						<a class="notification" href="#carteiraDelete" data-id="<%= carteira.id %>">
							<%- include('../../public/img/icons/delete.svg'); %>
							<form class="cd-<%= carteira.id %>" method="POST" action="/carteiras/<%= carteira.id %>/delete?_method=DELETE">
								<button type="submit"><img src="/img/icons/interface.svg" alt="Icone de remover"></button>
							</form>
						</a>
					</div>
				</div>
			<% } %>
		</div>
	</section>
</main>
<%- include('../parts/foot'); %>

