<%- include('../parts/head',{title:'CASH - Alterando Carteira'}); %>
<link rel="stylesheet" href="/css/form-pizza.css">
<form id="form-pizza" method="POST" action="/carteiras/<%= carteira.id%>/update?_method=PUT">
  <h1 name="cash" id="cash">CASH CONTROL</h1>
  <h1> Editar Carteira </h1>
  <% if (typeof(erros) != "undefined") { %>
      <p style="color: red"> ERRO </p>
      <ul>
        <% erros.forEach((erro) => { %>
            <li><%= erro.msg %></li>
        <% }) %>
      </ul>
  <% } %>

  <label>
    Nome:
    <input type="text" name="nome" id="nome" value="<%= carteira.nome %>" placeholder="Digite o nome da carteira">
  </label>

  <label>
    Tipo:
    <select name="tipo" id="tipo">
        <option selected disabled>Selecione</option>
        <option value="1" <%= carteira.tipo == '1' ? 'selected' : ''%>>Conta Bancária</option>
        <option value="2" <%= carteira.tipo == '2' ? 'selected' : ''%>>Carteira Pessoal</option>
        <option value="3" <%= carteira.tipo == '3' ? 'selected' : ''%>>Cartão de Débito</option>
        <option value="4" <%= carteira.tipo == '4' ? 'selected' : ''%>>Cartão de Crédito</option>
    </select>
  </label>
<button type="submit">Salvar</button>
</form>
<%- include('../parts/foot'); %>